
.pine{ margin:0; text-align: center;}


.hero{display: flex; justify-content: center; background-color:#450693; }
 
.grid-container{     
    display: grid;
    grid-template-rows: 1fr 1.8fr 1.8fr 1fr;
    grid-template-columns: 1fr 1.6fr 1fr;
    gap: 0.5rem;
}

.top{     
    grid-column-start: 4; 
    grid-column-end:3 ;
}

.title{
    grid-area:3 / 2 / 4 / 3;
    font-size:1.3rem;     
    text-align: center;
    color: #10e8e8;
}


body > div.hero.section1 > div > div.title > p{color: white; font-size: 1.5rem;}


.bottom{  
    grid-row-start: 3; 
    grid-row-end: 4 ; 
}


.ovni{
    grid-column-start: 2; 
    grid-column-end:3 ;
 }

.top >img{ height:8rem;}

.ovni >img{height: 15rem;}

.bottom >img{  height: 8rem;}

.escudo{ height:17rem;  margin-right: 2.5rem; margin-left: 2.5rem;}
body > div.section3 > div > p{margin-top: 6rem;}



body > div > div > div.top { display: flex; 
    justify-content: center; 
    align-items: last baseline;}
body > div > div > div.bottom{display: flex; justify-content: center; align-items: last baseline;}

.welcome{display: flex; justify-content: center; }
.presentation{ text-align:center; margin-top: 7rem; margin-bottom: 7rem;}

.leo{ height:10rem; border-radius: 50%; }

.greating{ font-size: 1.0rem; padding-left: 5rem; padding-right: 5rem;}

body > div.hero.section1 > div > div.ovni {display: flex; justify-content: center; }

.section3{ display: flex; justify-content: center; }
.skills{ text-align: center; max-width: 75%;}
.swicht{display: flex; align-items: center; margin-top: 3rem;}
body > div.section3 > div > h2 {clear: both;}
.section4{ text-align: center; margin-top: 5rem; margin-bottom: 5rem;}
.space{ gap: 10px; }
.layout{height: 120px; background-color:#450693; text-align: center;}
body > div.section4 > p.kufam-style{margin-top: 30px; margin-bottom: 30px; padding-left: 5rem;
    padding-right: 5rem;}
a{ text-decoration: none; color: #10e8e8;}
a:hover{ color:antiquewhite;}
.btn:hover{background-color:#10e8e8;}
body > footer > div:nth-child(2) > p{color:white;}
.bntstyle { outline: #10e8e8; border: 0.2px dotted blue;  border-radius: 8px;  ; background-color: #450693; padding: 10px 20px 10px 20px; margin-top: 2rem; }
hr {
  border: dotted #f8970d 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto;
}


.zen-dots-regular {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.kufam-style {
  font-family: "Kufam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 ;
  font-style: normal;
}


@media (max-width:800px){

  .top{   grid-column-start: 2; 
       grid-column-end:3 ;  }

   body > div > div > div.top{ justify-content: flex-end;}

  .bottom{   grid-area: 4 / 2 / 5 / 3; }

  body > div > div > div.bottom{ justify-content: flex-start; }



.top >img{ height:7rem;}    

.ovni > img { height:11rem ;}    

.bottom >img{  height:7rem;}

.title{ font-size: 1.1rem;}

}

  


@media ( width <= 617px){

.top >img{ height:6rem; }    

.ovni > img { height:9rem ;}    

.bottom >img{  height:6rem;}

 .title{ font-size: 1.1rem;}

 .swicht{flex-direction: column;}
 
 .grid-container{grid-template-rows: 1fr 1.3fr 1.8fr 1fr;}


}


